In [1]:
#Dictionaries
person = {
    'name': 'John',
    'age': 30,
    'city': {
        'name': 'New York',
        'country': 'USA'
    }
}
print(person)

{'name': 'John', 'age': 30, 'city': {'name': 'New York', 'country': 'USA'}}

In [3]:
#To Add KEY 
person['gender'] = 'male'
person['age'] = 31
person['education'] = {
    'degree': 'Bachelor of Science',
    'major': 'Computer Science'
}
print(person)

{'name': 'John', 'age': 31, 'city': {'name': 'New York', 'country': 'USA'}, 'gender': 'male', 'education': {'degree': 'Bachelor of Science', 'major': 'Computer Science'}}

In [5]:
##TO UPDATE VALUE 
print(person['age'])

31

In [7]:
person = {
    'name': 'John',
    'age': 30,
    'city': {
        'name': 'New York',
        'country': 'USA'
   }
}
print(person['city']['name'])

New York

In [9]:
##CAN NAME DICTIONARY ANYTHING
students = {
    0: {
        'name': 'John',
        'age': 20,
        'grade': 'A'
    },
    1: {
        'name': 'Jane',
        'age': 21,
        'grade': 'B'
    },
    3: {
        'name': 'Bob',
        'age': 22,
        'grade': 'C'
    },
    4: 'none'
}
print(students)

{0: {'name': 'John', 'age': 20, 'grade': 'A'}, 1: {'name': 'Jane', 'age': 21, 'grade': 'B'}, 3: {'name': 'Bob', 'age': 22, 'grade': 'C'}, 4: 'none'}

In [11]:
print(students[1]['name'])

Jane

In [13]:
#TO DELETE 
del students[1]
print(students)

{0: {'name': 'John', 'age': 20, 'grade': 'A'}, 3: {'name': 'Bob', 'age': 22, 'grade': 'C'}, 4: 'none'}

In [15]:
for xyz in person.values():
  print(xyz)

John
30
{'name': 'New York', 'country': 'USA'}

In [19]:
for each_key in students:
  print(str(each_key), students[each_key])

0 {'name': 'John', 'age': 20, 'grade': 'A'}
3 {'name': 'Bob', 'age': 22, 'grade': 'C'}
4 none

In [21]:
for a, b in students.items():
  print(a, b)

0 {'name': 'John', 'age': 20, 'grade': 'A'}
3 {'name': 'Bob', 'age': 22, 'grade': 'C'}
4 none

In [23]:
student_list = [
    {
        'name': 'John',
        'age': 20,
        'grade': 'A'
    },
    {
        'name': 'Jane',
        'age': 21,
        'grade': 'B'
    },
    {
        'name': 'Bob',
        'age': 22,
        'grade': 'C'
    },
    {
        'name': 'Alice',
        'age': 23,
        'grade': 'D'
    }
]
print(student_list[0]['name'])

John

In [25]:
new_dictionary = {
    'name': 'Eve',
    'age': 24,
    'grade': 'E'
}
student_list.append(new_dictionary)
print(student_list)

[{'name': 'John', 'age': 20, 'grade': 'A'}, {'name': 'Jane', 'age': 21, 'grade': 'B'}, {'name': 'Bob', 'age': 22, 'grade': 'C'}, {'name': 'Alice', 'age': 23, 'grade': 'D'}, {'name': 'Eve', 'age': 24, 'grade': 'E'}]